.listalogos{
    display: flex;
    flex-direction: row;
    justify-content:center;
    list-style: none;
    margin: 0;
    padding: 0;
        img{  
        width: clamp(10rem, 13vw, 11rem) ;
        padding: 10px;
        margin: 0;}
       }

    
    .logolistahuapi{
        grid-area: loghua;
    }
    .logolistaglaciar{
        grid-area: loggla;
    }
    .logolistatierradf{
        grid-area: logtdf;
    }
    
    @media (max-width:576px){
    
        .listalogos{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        margin:0px;
        padding:0px;
        grid-template-areas: 
        "loglan loghua"
        "loggla logtdf"; }
    img .listalogos{
        width: 150px;
        margin: 0;}
    }
