body{background-color: rgba(160, 99, 30, 0.13);}

.titlan{background-image: nth($imagenesback, 1)}
.tithua{background-image: nth($imagenesback, 2)}
.tittdf{background-image: nth($imagenesback, 4)}
.titgla{background-image: nth($imagenesback, 3)}
.tituloyvideo{
    display: flex;
    flex-direction: row;
    align-items:center;
    align-content: center;
    text-align: left;
    padding-top:  20px;
    padding-bottom: 20px;
    background-repeat:no-repeat;
    background-size: cover}
    .titlan, .tithua, .titgla, .tittdf{
        @extend %titulos1}

   @media (max-width:576px){
    .tituloyvideo{
        display:flex;
        flex-direction: column;
        }
    .videoapn{
        padding-top: 10px;
        aspect-ratio: 16/9;}
    .textoindex{
        width:100% !important;
        font-size: 13px;} }
    
.videoapn{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-top: 56.25%;  
    aspect-ratio: 16/9;}
.videoapn iframe{
    position: absolute;
    top: 0;
    left:2px;                          
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;}

.textoindex{
    padding: 5px;
    width: 46%;
    @extend %textosin
}

.titulos, .titlan .tithua, .titgla, .tittdf{   display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: baseline;}

    @media (max-width: 576px) { 
    h1{ width:70%;
        align-self: auto;
        font-size: 25px !important;}
    #logoapntitulo{ 
        width: 50%;
        height: 50%;
        align-self: auto;
        object-fit:scale-down;}
    }
    .imagenesparques{     
        display: grid; 
      grid-template-columns: 1fr 1fr; 
      grid-template-rows: 1fr 1fr; 
      padding-bottom: 20px;
      gap: 30px;
      grid-template-areas: 
        "lanin tdf"
        "huapi glaciares"; 
      width: 100%; 
      height: 100%;} 
    
    .transiciones:hover{
        transition: all 1.7s;
        transform: scale(1.1);
    }
     @media (max-width:576px){
    .imagenesparques{ 
            display: flex;
            flex-direction: column;}}
    .imagenlanin{
        grid-area: lanin;
    }
    .imagenhuapi{
        grid-area: huapi
    }
    .imagenglaciares{
        grid-area: glaciares;    
    }
    .imagentierrafuego{
        grid-area: tdf;
    }
    .lanin-img, .huapi-img, .glaciar-img, .fuego-img {
        width: 95%;
        height: 95%;
        object-fit: cover; } 

    #laninbody{
        background-image:url(../img/background/laninback.jpg);
        @extend %bodypags}
    #huapibody{
        background-image:url(/img/background/huapiback.jpg);
        @extend %bodypags}
    #glaciarbody{
        background-image: url(../img/background/losglaciaresback.jpg);
        @extend %bodypags}
    #fuegobody{
        background-image: url(../img/background/tierradelfuegoback.jpg);
        @extend %bodypags}