%org{
    display: flex;
    text-align: center;
    font-weight: bold;
    
}

%textosin{
    font-weight:600;
    font-style: italic;
}
%bodypags{
    background-repeat: no-repeat;
    background-size: cover;
}