    footer{ 
      background-color: nth($colores, 1);
      align-items: center;
      text-align: center;}
    footer ul{
      margin-top:  map-get($foot-specs, margenarriba);
      place-items: map-get($foot-specs, ubicacion);
      gap:         map-get($foot-specs, gap)}
    
    .footcolor1{
      background-color: nth($colores, 2);
    }
    .footcolor2{
      background-color: nth($colores, 3);
    }
    .footcolor3{
      background-color: nth($colores, 4);
    }
    .footcolor4{
      background-color: nth($colores, 5);
    }
   
    .colorformarriba{background-color:rgba(1, 71, 66, 0.829) }
    .boton__form{
      background-color:nth($colores,3);
      width: 100%;}
  

