%org{
    display: flex;
    text-align: center;
    font-weight: bold;  
}

%textosin{
    font-weight:600;
    font-style: italic;
}

%bodypags{
    background-repeat: no-repeat;
    background-size: cover;}

%titulos1{
    display: flex;
    flex-direction: column;
    align-items:center;
    align-content: center;
    text-align: left;
    padding-top:  20px;
    padding-bottom: 20px;
    background-repeat:no-repeat;
    background-size: cover
}
